<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.devyk.ikavedit">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/fdouyi"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/fdouyi"
            android:requestLegacyExternalStorage="true"
            android:supportsRtl="true"

            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.activity.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.PlayActivity"></activity>
        <activity android:name=".ui.activity.MainActivity"></activity>
        <activity android:name=".ui.activity.AVRecordActivity"
                  android:screenOrientation="portrait"
                 />
        <activity android:name=".ui.activity.AVEditorActivity"/>
    </application>

    <!--android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="landscape"-->

</manifest>